{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<!-- Page Header-->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/images/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <a>
                        <h1 class="post-title">{{ blog.title }}</h1>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a>{{ blog.author }}</a>
                        on {{ blog.date }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3 class="post-subtitle">{{ blog.subtitle }}</h3>
                <img alt="Blog Image" class="img-fluid" src="{{ blog.img_url }}" style="max-width: 100%; height: auto;">
                <p>{{ blog.body | safe }}</p>
                {% if current_user.is_authenticated and current_user.get_id() == blog.user_id|string %}
                <a class="btn btn-dark float-right" href="{{ url_for('views.edit_blog', blog_id=blog.blog_id) }}">Edit
                    Blog</a>
                {% endif %}

                {% if current_user.is_authenticated %}
                <hr>
                {% set form_action = url_for('views.edit_comment', blog_id=blog.blog_id,
                comment_id=new_comment.comment_id) if is_edit else url_for('views.add_comment', blog_id=blog.blog_id) %}
                <form action="{{ form_action }}" method="POST" novalidate>
                    {{ displayFlaskMessage() }}
                    <div class="mb-3">
                        <label class="form-label required-field fs-2">Comment</label>
                        {{ comment_form.csrf_token }}
                        {{ comment_form.comment(class="form-control", id="commentCkeditor") }}
                    </div>
                    {{ comment_form.submit_button(class="btn btn-dark mt-4") }}
                </form>
                {% endif %}
                <hr>
                <div class="comments">
                    <ul class="list-unstyled">
                        {% if comments %}
                        {% for comment in comments %}
                        <li class="d-flex align-items-start justify-content-start mb-4 p-3 border rounded bg-light">
                            <!-- User Profile Image -->
                            <img alt="profileUser" class="rounded-circle img-thumbnail mr-3"
                                 src="{{ url_for('static', filename='assets/images/default-profile.png') }}"
                                 style="width: 60px; height: 60px;">
                            <!-- Comment Text and Author -->
                            <div class="ms-4">
                                <p id="comment-text-{{ comment.comment_id }}">{{ comment.text | safe }}</p>
                                <textarea class="form-control d-none" id="edit-comment-{{ comment.comment_id }}">{{ comment.text }}</textarea>
                                <small class="text-muted">Author: {{ comment.first_name }} {{ comment.last_name
                                    }}</small>
                            </div>
                            {% if current_user.is_authenticated and current_user.get_id() == comment.user_id|string %}
                            <!-- Kebab menu -->
                            <div class="dropdown ms-auto">
                                <button aria-expanded="false" class="btn" data-bs-toggle="dropdown"
                                        id="dropdownCommentMenu"
                                        type="button">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul aria-labelledby="dropdownCommentMenu" class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item"
                                                onclick="window.location.href='{{ url_for('views.edit_comment', blog_id=blog.blog_id, comment_id=comment.comment_id) }}'"
                                                type="button">Edit
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item"
                                                onclick="window.location.href='{{ url_for('views.delete_comment', comment_id=comment.comment_id) }}'"
                                                type="button">
                                            Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="text-muted">No comments yet.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
{% block scripts %}
<!-- Place the script right before the closing body tag -->
<script>
    // Save scroll position when leaving the page
      window.onbeforeunload = function(e) {
          localStorage.setItem('scrollpos', window.scrollY);
      };

      // Restore scroll position after page load
      document.addEventListener("DOMContentLoaded", function(event) {
          var scrollpos = localStorage.getItem('scrollpos');
          if (scrollpos) {
              window.scrollTo(0, scrollpos);
          }
      });
</script>
{% endblock %}