{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container content">
    <div class="container" id="masterView">
        <br><br>
        <div class="text-center yourInfo-body">
            <p style="font-size: 100px;">Not Authorized</p>
            <div>
                You do not have permission to access this page.
            </div>
            <a href="{{ url_for('views.home_page') }}">Go to Home</a>
            <br>
        </div>
    </div>
</div>
{% endblock %}