{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Create New Blog{% endblock %}

{% block content %}
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='assets/images/create-blog-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if is_edit: %}
                <div class="page-heading">
                    <h1>Edit Blog</h1>
                </div>
                {% else %}
                <div class="page-heading">
                    <h1>Create New Blog</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <form action="{{ url_for('views.new_blog') }}" method="POST">
                    {{ displayFlaskMessage() }}
                    <div class="my-5">
                        {{ blog_form.csrf_token }}
                        {{ displayField(blog_form.title, 'Blog Title', autocomplete="off", autofocus=true) }}
                        {{ displayField(blog_form.subtitle, 'Blog Subtitle', autocomplete="off", autofocus=true) }}
                        {{ displayField(blog_form.img_url, 'Blog Image URL') }}

                        <!-- TextAreaField for CKEditor 5 -->
                        <div class="mb-3">
                            <label class="form-label required-field">Blog Content</label>
                            {{ blog_form.content(class="form-control", id="ckeditor") }}
                        </div>

                        {{ blog_form.submit_button(class="btn btn-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}